<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
  	<center><h1>Reporting a <%= @params[:cat] %></h1></center>
    <img src = <%= @params[:imgurl] %> />
    <br />
    <a href = <%= @params[:mapslink] %> >Map</a>
  </body>
</html>